/* navbar styling */
nav, .nav-left, .nav-left ul {
    display: flex;
}

nav {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 12px 48px;
    background-color: #FFFFFF;
    z-index: 10;
}

.nav-left {
    align-items: center;
    gap: 72px;
}

.nav-left ul {
    gap: 36px;
    list-style: none;
}

.nav-left ul li, .button-contact-me {
    cursor: pointer;
}

.nav-left ul li a {
    text-decoration: none;
    color: #000000;
}

.nav-left ul li a:hover {
    font-weight: bold;
}

.nav-right {
   margin: auto 0;
}

.button-contact-me {
    color: white;
    background-color: black;
    padding: 6px 12px;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.hamburger-bar {
    display: none;
}

.hamburger-popup {
    display: none;
}

@media screen and (max-width: 600px) {
    .default-btn {
        display: none;
    }

    .hamburger-bar {
        display: block;
    }

    .hamburger-popup {
        display: none;
        background-color: rgb(179, 210, 226);
        position: fixed;
        top: 60px;
        right: 50px;
        padding: 12px;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        z-index: 10;
    }

    .hamburger-popup ul li {
        list-style: none;
        padding: 6px;
    }

    .hamburger-popup ul li a {
        font-size: 16px;
        font-weight: 600;
        color: #000000;
        text-decoration: none;
    }
}